div, img{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

body {
    margin: 0 auto;
    width: 840px;
    min-width: 780px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.vertical-divider {
    width: 100%;
    background-color: lightgrey;
    height: 2px;
    display: block;
    margin-top: 16px;
}

.intro {
    position: relative;
    width: 100%;
}

.profile img {
    display: block;
    margin: 10px;
    margin-left: 40px;
    padding: 0;
    width: 150px;
    height: 200px;
}

.detail {
    margin-top: -5px;
    margin-left: 30px;
    padding: 10px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 400px;
}

.detail div {
    display: block;
    padding-top: 14px;
    position: relative;
}

.badge {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}

.badge div {
    display: block;
}

.badge img {
    padding: 0;
    height: 20px;
    margin: 0;
}

.name {
    position: relative;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.name .eng {
    position: absolute;
    bottom: 0px;
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    color: grey;
}

div.text {
    font-size: 16px;
    text-decoration: underline;
}

.detail div .text {
    position: absolute;
    top: 0px;
    display: inline;
    margin-left: 10px;
}

.email, .github, .blog {
    cursor: pointer;
}

.now {
    display: block;
    width: 100%;
}

.now div {
    padding-left: 10px;
    padding-right: 16px;
    margin-top: 10px;
    display: inline-block;
    font-style: italic;
}

.history, .activity {
    display: block;
    position: relative;
    width: 100%;
}
.item {
    display: block;
    position: relative;
}

.left {
    width: 25%;
    padding-left: 10px;
    padding-right: 16px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    text-align: right;
    font-style: italic;
    color: #7b7b7b;
}

.right {
    width: 75%;
    padding-left: 24px;
    padding-right: 10px;
    margin-top: 10px;
    display: inline-block;
    line-height: 30px;
    border-left: 1px solid lightgrey;
    word-break: keep-all;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

.left.head, .right.head {
    padding: 6px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.table-header {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

.bold {
    font-weight: bold;
}

.hyperlink {
    text-decoration: inherit;
}

.description {
    padding-left: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #7b7b7b;
}