h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vertical-divider {
    width: 100%;
    background-color: lightgrey;
    height: 2px;
}