div, img{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

body {
    margin: 0 auto;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.vertical-divider {
    width: 100%;
    background-color: lightgrey;
    height: 2px;
}

.intro {
    position: relative;
    width: 100%;
}

.profile img {
    display: block;
    margin: 10px;
    padding: 0;
    width: 150px;
    height: 200px;
}

.detail {
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 400px;
}

.detail div {
    display: block;
    padding-top: 15px;
    position: relative;
}

.badge {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}

.badge div {
    display: block;
}

.badge img {
    padding: 0;
    height: 20px;
    margin: 0;
}

.name {
    position: relative;
    display: inline;
    font-size: 24px;
    margin-bottom: 10px;
}
.name .eng {
    position: absolute;
    bottom: 0px;
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    color: grey;
}

div.text {
    font-size: 16px;
    text-decoration: underline;
}

.detail div .text {
    position: absolute;
    top: 0px;
    display: inline;
    margin-left: 10px;
}

.email, .github, .blog {
    cursor: pointer;
}

.history, .activity {
    display: block;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
.left {
    width: 20%;
    padding: 10px;
}
.activity .left .item{
    text-align: center;
}
.right {
    width: 40%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.history .right .item {
    text-align: center;
}

.status {
    padding: 10px;
    position: absolute;
    right: 0px;
}
.history .status {
    left: 75%;
}

.left .item, .right .item, .status .item {
    display: block;
    padding-bottom: 5px;
}

.status .item {
    text-align: center;
}
.activity .status .item {
    text-align: center;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}